
.page_content{
	position: relative;
	margin-top: 25px;
}

.chart_container{
	border: 1px solid lightgray;
}

.stats_box{
	border: 1px solid lightgray;
	background-color: white;
	margin-top: 25px;
	margin-right: 25px;
	height: 400px;
}

h1{
	font-family: "Myriad Arabic";
	font-size: 30px;
	font-weight: 500;
	margin-left: 25px;
	border-bottom: 1px solid lightgray;
	margin-right: 25px;
	color: #3A3A3A;
}

p{
	font-family: "Myriad Arabic";
	font-size: 20px;
	margin: 0;
	margin-left: 40px;
}

.stat_desc{
	position: absolute;
}

.stat_info{
	color: #76B041;
	position: absolute;
	right: 100px;
	text-shadow: 1px 1px 1px lightgray;
}