.page_content{
	position: relative;
	margin-top: 50px;
}
.profile_container{
	margin-left: 100px;
	margin-right: 100px;
	height: 400px;
	border: 1px solid lightgray;
	background-color: white;

}

img{
	margin-left: 75px;
	margin-top: 50px;
	height: 100px;
	border: 1px solid #3A3A3A;
	user-select: none;
}

.star{
	border: none;
	margin: 2px;
	height: 20px;
}

.stars{
	position: absolute;
	margin-left: 200px;
}

.display_flex{
	display: flex;
}

h2{
	margin-left: 25px;
	margin-top: 50px;
	color: #3A3A3A;
}

h4{
	color: #3A3A3A;
	font-family: "Myriad Arabic";
	font-size: 20px;
	font-weight: 500;
	margin: 0;
	margin-left: 25px;
	margin-right: 100px;
}

h3{
	margin-left: 75px;
	margin-top: 50px;
	color: #3A3A3A;
}

p{
	font-family: "Myriad Arabic";
	font-size: 20px;
	margin: 2px;
	margin-left: 100px;
}

.userdata{
	position: absolute;
	margin-left: 300px;
}